#root{
  /*height: 100%;*/
  position:relative;
}
.menu-container{

}
.menu-item{
    /* height: 40px; */
    width: 100%;
    line-height: 1.5;
    padding: 10px 0 10px 10px;
    font-size: 14px;
    color: #314659;
    cursor: pointer;
}
.menu-item.active{
    color: #ffffff;
    background: #684fff;
}
.menu-container a {
    color: #314659;
    display: block;
    width: 100%;
    line-height: 1.5;
    padding: 10px 0 10px 10px;
    font-size: 14px;
    color: #314659;
    cursor: pointer;
}
a:active,a:hover,a:visited,a:link {
    text-decoration: none;
}
